* {
  font-family: "Fira Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  --nav-color: #201B26;
  --bg-color: #FFFEFF;
  --big-font-color: #00E5E6;
  /*--block-color: #F4F2F2;*/
  --block-color: #FFFFFF;
  --accent-color: #46009F;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:  "header header"
                        "main main"
                        "footer footer";
  min-height: 95vh;
}

header {
  height: 50px;
  background: var(--nav-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  padding: 80px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "head head"
    "back back"
    "general tax"
    "finance leader";
  grid-template-rows: auto;
  gap: 10px;
}

div.ellipse {
  width: 150vw;
  position: absolute;
  top:-30%;
  left: -25vw;
  background: linear-gradient(45deg, #46009F, #8600EC);
  height: 100vh;
  border-radius: 50%/50%;
  z-index: -999;
}

.block {
  background: var(--block-color);
  border-radius: 32px;
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 5px 5px 5px #ccc;
  border: 2px #F4F2F2 solid;
  max-width: 50vw;
}

#search {
  width: 70vh;
  padding: 15px;
  border-radius: 32px;;
}

#search::placeholder {
  color: var(--accent-color);
}

.block-header {
  background: linear-gradient(45deg, #46009F, #8600EC);
  min-height: 100px;
  padding: 20px;
  border-radius: 16px;
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  display: grid;
}

.block-header span.d {
  font-size: 1rem;
  font-weight: bolder;
  justify-self: end;
  align-self: end;
  position: absolute;
}

.block-header span.h {
  align-self: center;
  justify-self: center;
}

p.header {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.block ul li {
  font-weight: bold;
}

img.success {
  width: 15px;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

a.anim {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bolder;
  font-size: 1.25rem;
}

a.anim:before {
  content: "";
  border-radius: 8px;
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.2s ease-out all;
  transform: scaleX(0);
  background: var(--accent-color);
}

a.anim:hover:before {
  transform: scaleX(1);
}

footer {
  width: 100vw;
}

@media screen and (max-width: 1000px){
  .block-header span {
    margin: unset;
    font-size: 3rem;
    justify-content: center;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "head"
      "back"
      "general"
      "tax"
      "finance"
      "leader";
    grid-template-rows: auto; 
    padding: 10px;
  }

  .block {
    max-width: 95vw;
  }
}
