* {
  font-family: "Fira Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  --nav-color: #201B26;
  --bg-color: #FFFEFF;
  --big-font-color: #00E5E6;
  /*--block-color: #F4F2F2;*/
  --block-color: #FFFFFF;
  --accent-color: #46009F;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:  "header header"
                        "main main"
                        "footer footer";
  min-height: 95vh;
  overflow-x: hidden;
}

header {
  height: 50px;
  background: var(--nav-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  padding: 80px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "head head"
    "back back"
    "general leader"
    "finance tax"
    "pie tax";
  grid-template-rows: auto;
  gap: 10px;
}

div.ellipse {
  width: 150vw;
  position: absolute;
  top:-30%;
  left: -25vw;
  background: linear-gradient(45deg, #46009F, #8600EC);
  height: 100vh;
  border-radius: 50%/50%;
  z-index: -999;
}

.block {
  background: var(--block-color);
  border-radius: 32px;
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 5px 5px 5px #ccc;
  border: 2px #F4F2F2 solid;
  max-width: 50vw;
}

#search {
  width: min(70vw, 800px);
  padding: 15px;
  border-radius: 32px;;
}

#search::placeholder {
  color: var(--accent-color);
  font-weight: bolder;
  font-size: 0.9rem;
}

div.logo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 160px;
  margin-bottom: 20px;
}

div.logo div.l {
  font-size: 10rem;
  font-weight: bolder;
  color: white;
  font-family: "WDXL Lubrifont JP N";
  text-align: right;
}

div.logo div.r {
  margin-top: 30px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #00E5E6;
  font-family: "WDXL Lubrifont JP N";
}

.block-header {
  background: linear-gradient(45deg, #46009F, #8600EC);
  min-height: 100px;
  padding: 20px;
  border-radius: 16px;
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  display: grid;
}

.block-header span.d {
  font-size: 1rem;
  font-weight: bolder;
  justify-self: end;
  align-self: end;
  position: absolute;
}

.block-header span.h {
  align-self: center;
  justify-self: center;
}

p.header {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
  color: black;
}

.block ul li {
  font-weight: bold;
}

img.success {
  width: 15px;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

div.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  gap: 10px;
}

div.stat {
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 5px 5px 5px #11111155;
  border: 2px #F4F2F2 solid;
  display: grid;
}

p.stat-header {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

p.stat-data {
  width: 100%;
  height: 100%;
  justify-self: center;
  text-align: center;
  font-size: 6rem;
  font-weight: bolder;
}

div.searchResults {
  margin-top: 5px;
}

div.res:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

div.res:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

div.res:hover {
  background-color: #ccc;
}

div.res {
  padding: 10px;
  background: white;
}

a.res {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: none;
  color: black;
}

div.table p {
  margin-top: 40px;
}

table.download {
  margin-top: 20px;
}

table.download, table.download tr, table.download tr td, table.download tr th{
  border-collapse: collapse;
  border: 1px solid black;
}

table.download tr td {
  padding: 5px;
}

a.anim {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bolder;
  font-size: 1.25rem;
}

a.anim:active {
  color: black;
}

a.anim:active:before {
  background-color: black;
}

a.anim:before {
  content: "";
  border-radius: 8px;
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.2s ease-out all;
  transform: scaleX(0);
  background: var(--accent-color);
}

a.anim:hover:before {
  transform: scaleX(1);
}

footer {
  width: 100vw;
}

@media screen and (max-width: 1000px){
  .block-header span {
    margin: unset;
    font-size: 3rem;
    justify-content: center;
  }

  main .dashboard {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "head"
      "back"
      "general"
      "leader"
      "tax"
      "finance"
      "pie";
    grid-template-rows: auto; 
  }

  main {
    padding: 10px;
  }

  .block {
    max-width: 85vw;
  }

  div.logo {
    margin-bottom: 10px;
    grid-template-rows: 100px;
  }

  div.logo div.l {
    font-size: 6rem;
  }

  p.stat-header {
    font-size: 0.8rem;
  }

  p.stat-data {
    font-size: 4rem;
  }

  div.logo div.r {
    font-size: 1rem;
    margin-top: 20px;
  }
}
